In [5]:
import pandas as pd
import numpy as np

file_path = "C:\\Users\\SHAFINA JALEEL\\OneDrive\\Desktop\\THANZEER\\Project\\Crime_Data_from_2020_to_Present.csv"  
data = pd.read_csv(file_path)

In [9]:
print("Dataset Overview:")
print(data.info())
print("\nSummary statistics:")
print(data.describe())

Dataset Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1003448 entries, 0 to 1003447
Data columns (total 28 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DR_NO           1003448 non-null  int64
 1   Date Rptd       1003448 non-null  object
 2   DATE OCC        1003448 non-null  object
 3   TIME OCC        1003448 non-null  int64
 4   AREA            1003448 non-null  int64
 5   AREA NAME       1003448 non-null  object
 6   Rpt Dist No     1003448 non-null  int64
 7   Part 1-2        1003448 non-null  int64
 8   Crm Cd          1003448 non-null  int64
 9   Crm Cd Desc     1003448 non-null  object
 10  Mocodes         851881 non-null   object
 11  Vict Age        1003448 non-null  int64
 12  Vict Sex        858856 non-null   object
 13  Vict Descent    858844 non-null   object
 14  Premis Cd       1003432 non-null  float64
 15  Premis Desc     1002860 non-null  object
 16  Weapon Used Cd  327140 non-null   float64
 17  Weapon Desc     327140 non-null   object
 18  Status          1003447 non-null  object
 19  Status Desc     1003448 non-null  object
 20  Crm Cd 1        1003437 non-null  float64
 21  Crm Cd 2        69118 non-null    float64
 22  Crm Cd 3        2315 non-null     float64
 23  Crm Cd 4        64 non-null       float64
 24  LOCATION        1003448 non-null  object
 25  Cross Street    154113 non-null   object
 26  LAT             1003448 non-null  float64
 27  LON             1003448 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 214.4+ MB
None

Summary statistics:
              DR_NO      TIME OCC          AREA   Rpt Dist No      Part 1-2  \
count  1.003448e+06  1.003448e+06  1.003448e+06  1.003448e+06  1.003448e+06
mean   2.201855e+08  1.339862e+03  1.069201e+01  1.115659e+03  1.400526e+00
std    1.316963e+07  6.511008e+02  6.110398e+00  6.111720e+02  4.900053e-01
min    8.170000e+02  1.000000e+00  1.000000e+00  1.010000e+02  1.000000e+00
25%    2.106163e+08  9.000000e+02  5.000000e+00  5.870000e+02  1.000000e+00
50%    2.209148e+08  1.420000e+03  1.100000e+01  1.139000e+03  1.000000e+00
75%    2.311086e+08  1.900000e+03  1.600000e+01  1.613250e+03  2.000000e+00
max    2.499289e+08  2.359000e+03  2.100000e+01  2.199000e+03  2.000000e+00

             Crm Cd      Vict Age     Premis Cd  Weapon Used Cd      Crm Cd 1  \
count  1.003448e+06  1.003448e+06  1.003432e+06   327140.000000  1.003437e+06
mean   5.002210e+02  2.891332e+01  3.055846e+02      363.926747  4.999812e+02
std    2.053109e+02  2.199538e+01  2.193049e+02      123.741326  2.051113e+02
min    1.100000e+02 -4.000000e+00  1.010000e+02      101.000000  1.100000e+02
25%    3.310000e+02  0.000000e+00  1.010000e+02      311.000000  3.310000e+02
50%    4.420000e+02  3.000000e+01  2.030000e+02      400.000000  4.420000e+02
75%    6.260000e+02  4.400000e+01  5.010000e+02      400.000000  6.260000e+02
max    9.560000e+02  1.200000e+02  9.760000e+02      516.000000  9.560000e+02

           Crm Cd 2     Crm Cd 3   Crm Cd 4           LAT           LON
count  69118.000000  2315.000000   64.00000  1.003448e+06  1.003448e+06
mean     958.118233   984.022030  991.21875  3.399810e+01 -1.180905e+02
std      110.364802    52.340476   27.06985  1.611942e+00  5.586665e+00
min      210.000000   310.000000  821.00000  0.000000e+00 -1.186676e+02
25%      998.000000   998.000000  998.00000  3.401470e+01 -1.184305e+02
50%      998.000000   998.000000  998.00000  3.405890e+01 -1.183225e+02
75%      998.000000   998.000000  998.00000  3.416490e+01 -1.182739e+02
max      999.000000   999.000000  999.00000  3.433430e+01  0.000000e+00

In [13]:
print("\nMissing Data Count:")
print(data.isnull().sum())

Missing Data Count:
DR_NO                   0
Date Rptd               0
DATE OCC                0
TIME OCC                0
AREA                    0
AREA NAME               0
Rpt Dist No             0
Part 1-2                0
Crm Cd                  0
Crm Cd Desc             0
Mocodes            151567
Vict Age                0
Vict Sex           144592
Vict Descent       144604
Premis Cd              16
Premis Desc           588
Weapon Used Cd     676308
Weapon Desc        676308
Status                  1
Status Desc             0
Crm Cd 1               11
Crm Cd 2           934330
Crm Cd 3          1001133
Crm Cd 4          1003384
LOCATION                0
Cross Street       849335
LAT                     0
LON                     0
dtype: int64

In [19]:
threshold = 0.5  
data = data.dropna(thresh=int(data.shape[0] * threshold), axis=1)
num_cols = data.select_dtypes(include=['float64', 'int64']).columns
data[num_cols] = data[num_cols].fillna(data[num_cols].mean())

In [23]:
cat_cols = data.select_dtypes(include=['object']).columns
data[cat_cols] = data[cat_cols].fillna(data[cat_cols].mode().iloc[0])

print("\nMissing Data After Handling:")
print(data.isnull().sum())

Missing Data After Handling:
DR_NO           0
Date Rptd       0
DATE OCC        0
TIME OCC        0
AREA            0
AREA NAME       0
Rpt Dist No     0
Part 1-2        0
Crm Cd          0
Crm Cd Desc     0
Mocodes         0
Vict Age        0
Vict Sex        0
Vict Descent    0
Premis Cd       0
Premis Desc     0
Status          0
Status Desc     0
Crm Cd 1        0
LOCATION        0
LAT             0
LON             0
dtype: int64

In [37]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [39]:
data[num_cols] = scaler.fit_transform(data[num_cols])

In [ ]:
output_path = "C:\\Users\\SHAFINA JALEEL\\OneDrive\\Desktop\\THANZEER\\Project\\Crime_Data_from_2020_to_Present.csv"
data.to_csv(output_path, index=False)
print(f"Preprocessed data saved to {output_path}")